@font-face {
  font-family:TradeWinds ;
  src: url('fonts/TradeWinds-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .circulo {
    display: inline-block;
    width: 77px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    line-height: 18px; 
    margin-top: 8px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #FB1C1C;
    height: 50px;
  }
  
  .topnav a {
    float: right;
    display: inline;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px;
  }

  .topnav a img{
    position: relative;
    top: -12px;
  }

  .topnav .logo{
    float: left;
    font-size: 25px;
    position: relative;
    bottom: 7px;
    left: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .topnav li{
    float: right;
    list-style: none;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;    
  }
  
  .topnav img{
    float: right;
    display: inline;
    margin-top: 10px;
    margin-right: none;
    margin-left: px;
    width: 25px;
    height: 25px;
  }
  
  .topnav .search-container {
    float: left;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-left: 50px;
    width: 412px;
    font-size: 17px;
    border: none;
  }

  .topnav input::placeholder{
    color: black;
    padding: 10px;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 16px 16px;
    margin-top: 8px;    
    margin-right: 16px;
    background: #ffffff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-image: url("./imgs/icons8-search-50\ 2.png");
    background-size: 32px;
  }
  
  .categorias{
    height: 50px;
    position: relative;
    top: 23px;
  }

  .categorias a{
    display: inline;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    padding: 0px 130px;
    margin-left: -20px;
  }

  .categorias .vermelho{
    color: red;
  }

  .categorias input{
    border: none;
    float: left;
    height: 23px;
    font-size: 18px;
    position: relative;
    top: -10px;
    left: 20px;
  }
  
  .categorias input::placeholder{
    color: black;
  }

  .categorias img{
    float: left;
    position: relative;
    top: -12px;
    left: 20px;
    width: 30px;
    height: 30px;
  }
  
  .info{
    position: relative;
    top: 60px;
  }

  .info img{
    width: 278px;
    height: 172px;
    padding: 0px 50px;
    margin-left: 70px;
  }

  .anuncios{
    background-color: #F9F1F1;
    position: relative;
    top: 90px; 
    height: 304px;
  }

  .anuncios .modelo{
    width: 269px;
    height: 291px;
    float: left;
  }

  .anuncios .botaoBack{
    background-color: #b3b3b3;
    float: left;
    height: 76px;
    width: 52px;
    position: relative;
    top: 110px;
    cursor: pointer;
  }

  .anuncios .botaoNext{
    background-color: #b3b3b3;
    float: right;
    height: 76px;
    width: 52px;
    position: relative;
    top: -250px;
    cursor: pointer;
  }

  .anuncios h1{
    text-align: center;
    font-weight: normal ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    top: 40px;
  }

  .anuncios p{
    text-align: center;
    font-family: TradeWinds, Arial;
    color: #E43795;
    font-size: 90px;
    position: relative;
    bottom: 10px;
  }

  .novidades{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 400px;
  }

  .novidades .titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: relative;
    left: 50%;
  }

  .novidades figure img{
    text-align: center;
    position: relative;
    top: 100px;
    width: 200px;
    left: -120px;
  }
  
  .novidades a{
    position: relative;
    left: -120px;
    top: 100px;
    text-decoration: none;
    color: black;
  }

  .novidades a:hover{
    text-decoration: underline;
  }

  .novidades .botaoBack{
    background-color: #b3b3b3;
    cursor: pointer;
    height: 28px;
    width: 24px;
    float: left;
    position: relative;
    top: 190px;
    left: -150px;
  }

  .novidades .botaoNext{
    background-color: #b3b3b3;
    cursor: pointer;
    height: 28px;
    width: 24px;
    float: right;
    position: relative;
    top: 190px;
    right: 90px;
  }